

<div class="user-feedback-div">
  <button id='feedback-btn' class="feedback-btn btn btn-secondary">Feedback</button>
</div>

<script>
  $('#feedback-btn').click(function() {
    createUserFeedbackBootbox();
  });
</script>


  </body>
</html>